<div class="d-flex flex-row bd-highlight mb-3">

    <div class="form-froup row" style="width: 60%;">
    
        <label class="col-sm-3 col-form-label">Employee Name</label>
        <div class="col-sm-9">
            <!-- <input type="text" class="form-control" [(ngModel)]="EmployeeName"
            placeholder="Enter Employee Name"> -->


  
            <input type="text" [(ngModel)]="textInput"  id="form3Example4c" class="form-control" (input)="validateInput()"  placeholder="Enter Employee Name"  name="passwordfield" ngModel required #passwordfield="ngModel"/>
      
            <div *ngIf="numberError" class="error-message">Numbers are not allowed!</div>
            <div *ngIf="passwordfield.touched && passwordfield.invalid" class="error-message">Reqired field must not be empty</div>

            <br>
        </div>
    
        <label class="col-sm-3 col-form-label">Department</label>
        <div class="col-sm-9">
           <select class="form-control" [(ngModel)]="Department">
               <option>--Select--</option>
               <option *ngFor="let depName of DepartmentsList">
                   {{depName.DepartmentName}}
               </option>
           </select>
           <br>
         </div>
        
         <label class="col-sm-3 col-form-label">Department</label>
         <div class="col-sm-9">
            <select class="form-control" [(ngModel)]="Department">
                <option>--Select--</option>
                <option *ngFor="let depName of DepartmentsList">
                    {{depName.DepartmentName}}
                </option>
            </select>
            <br>
          </div>



<label class="col-sm-3 col-form-label">Date of joining</label>
        <div class="col-sm-9">
            <!-- <input type="date"  [(ngModel)]="DateOfJoining"> -->
            <input type="date" pattern="d{2}/d{2}/d{2}d{2}" placeholder="dd/mm/yyyy" [(ngModel)]="DateOfJoining">
           
            <input type="tel" maxlength="10" placeholder="dd/mm/yyyy"
            oninput="this.value = DDMMYYYY(this.value, event)" />

        </div>


        <label class="col-sm-3 col-form-label">Gender</label>
        <div class="col-sm-9">

        <form>
            
            <input type="radio" name="gender" value="male" id="male">
            <label for="male">Male</label>
            
            <input type="radio" name="gender" value="female" id="female">
            <label for="female">Female</label>
        
            </form>

</div>

    
    </div>
</div>
    
    <div class="d-flex justify-content-end">
    <button (click)="addEmployee()" *ngIf="emp.EmployeeId==0" class="btn btn-primary mr-3">
        Save
    </button>

        <button type="button" class="btn btn-primary mr-3" 
        data-dismiss="modal" aria-label="Close"
        (click)="closeClick()" >Cancel
        
          </button>
    
    <button (click)="updateEmployee()" *ngIf="emp.EmployeeId!=0" class="btn btn-primary">
        Update
    </button>
    </div>