



    <!-- <nav>
        <img class="logo" src="assets/images/banner.png">
        <ul>
            <button class="cv"><li><a href="https://portal.optevus.com/register">REGISTER</a></li></button>
            <button class="cv"><li><a href="https://portal.optevus.com/auth/login">LOGIN</a></li></button>
        </ul>
    </nav> -->
   
           <div class="img">
           <img  class="img" src="assets/images/banner.png" alt="bg">
              </div>
           <div class="section">
           <div class="secton-heading">
               <div class="head">
                   <h2>Our Features</h2>
                   <p>OPTEVUS is a cognitive intelligence-driven talent management software that enhances the 
                      entire recruiting experience and helps the staffing services value chain by providing 
                      Job search, Algorithmic resume ranking, Video screening and interviewing, 
                      online Assessments and Proctoring, as well as augmented intelligent recommendations.</p>
                 </div>
                 <div class="d-flex flex-row justify-content-center">
                <div class="logo1">
                   <img class="img-logo" src="assets/images/icon-1.png">
                   <h1 class="name1">Quick Interview Process</h1>
                   <p class=""><strong>2x increase</strong> in fill rate, <strong>40% reduction </strong>manually pre-screening resumes, 
                       total recruitment time on one job requisition and average number of candidates interviewed for each role.</p>
                 </div>
                 <div class="logo2">
                   <img class="img-logo" src="assets/images/icon-2.png">
                   <h1 class="name2">Video Interviews</h1>
                   <p class="">Easy for candidates to apply by accessing a link and recording responses to the employer’s initial questions, 
                       with the ability for hiring managers to schedule ad-hoc interviews and assessments on demand. It enables recruiters, 
                       hiring managers and candidates to connect in live video interviews that are saved to the candidates
                       profile and accessible to anyone the client/ hiring manager wishes to share the session.</p>
                 </div>
                 <div class="logo3">
                   <img class="img-logo" src="assets/images/icon-3.png">
                   <h1 class="name3">Feedback</h1>
                   <p class="">Feedback categories are designated by the client and feedback is requested from all interview panel members
                        for each candidate interview that results in reduced bias, provides a weighted score, and is stored in the platform 
                        for future reference.</p>
                 </div>
                 </div>
                 <div class="d-flex flex-row">
                 <div class="logo4">
                   <img class="img-logo" src="assets/images/icon-4.png">
                   <h1 class="name4">Assessments and Online Proctoring</h1>
                   <p class="">External integration with test collaboration tools layer in the ability for recruiting managers to launch Technical,
                        Coding, Behavioral, Psychometric assessments, and more, from a plethora of questions that are covered for various roles 
                        and skills. We help you stay on top of the game with our AI-powered assessments that automatically detect fraudulent behavior. 
                        Automated impersonation and multiple people detection, plagiarism reports as well code playback for identifying suspicious 
                        coding practices are just some features found within these tests!</p>
                 </div>
                 <div class="logo5">
                   <img class="img-logo" src="assets/images/icon-5.png">
                   <h1 class="name5">Integrations</h1>
                   <p class="">Optevus is integrating with multiple vendor management systems, applicant tracking systems, assessment tools and background
                        companies to cover the complete lifecycle of the hiring process in order to create an efficient one-stop platform for our client’s
                         hiring needs.</p>
                 </div>
                 </div>
       </div>
       </div>
     
       
        
       
       
       
         
         
         
         

